{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
<main class='w3-content w3-container narrow'>
    <h1 class='w3-center capitalize w3-padding-32'>{{ .Data.Term }}</h1>
    {{- range where .Data.Pages "Type" "post" }}
    <div class='w3-container w3-padding-16 w3-center'>
        <a class='w3-hover-opacity' href='{{ .Permalink | relURL }}'>
            {{- $original := (.Resources.GetByPrefix .Params.banner) }}
            {{- $iL := ($original.Fill "1200x740") }}
            {{- $iM := ($original.Fill "600x370") }}
            {{- $iS := ($original.Fill "300x185") }}
            <img
                class='gridphoto lazyload fade-up'
                data-sizes='auto'
                data-srcset='
                    {{ $iL.RelPermalink }} {{ $iL.Width }}w,
                    {{ $iM.RelPermalink }} {{ $iM.Width }}w,
                    {{ $iS.RelPermalink }} {{ $iS.Width }}w'
                src='{{ $iL.RelPermalink }}'
                srcset='{{ $iS.RelPermalink }}'>
            <h2 class='capitalize w3-padding-16 w3-hover-text-light-blue pastel-pink'>{{ .Title }}</h2>
        </a>
        <hr style='width:20%;margin:0 auto;border-top:3px solid #000;'>
        <p style='width:50%;margin-left: auto;margin-right: auto'>{{ .Params.description }}</p>
        <p class='w3-small' style='width:50%;margin:0 auto'><b>{{ delimit .Params.tags " " }}</b></p>
        <p class='w3-small'>{{ .PublishDate.Format "2006-01-02" }}</p>
    </div>
    {{- end }}
</main>
{{ partial "footer.html" . }}