html, body {
    color: #537d8d;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

h2, h3, h4, h5, h6 {
    font-family: "Open Sans", serif;
    font-weight: 300;
}

h1 {
    font-family: "Coming Soon", sans-serif;
}

hr {
    cursor: none;
    margin: 1px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
figure {
    margin:0;
}
nav {
    top:0;
    position:sticky;
    z-index:5;
    padding-bottom:16px;"
}
.nav-pc-button {
    font-family:"Sacramento";
    text-transform:lowercase;
    line-height:46px;
    padding-bottom:16px;
}
/* ------------------------------------------------------------------------- */
/* Featured */
.featured div {
    transition: 1s ease-out;
}

.fbanner {
    object-fit:cover;
    width: 100%;
    height: 50vh;
}

#logo {
    transition: 1s ease-out;
    pointer-events: none;
    height: 25vh;
    width: 25vh;
    border: .8em solid rgba(255,255,255,.5);
    background-color: rgba(255,255,255,.5);
    object-fit: cover;
}


#f0:hover + #f1 {
    width:0;
}

#f0:hover ~ #logo {
    left:100%;
}

#f1:hover ~ #logo {
    left:0;
}

.featured:hover div {
    width: 0%;
}

.featured div:hover,
.featured div:hover ~ div {
    width: 100%;
}
/* ------------------------------------------------------------------------- */
/* Navigation */
.nav-button {
    width:7em;
    color: #537d8d;
}
/* ------------------------------------------------------------------------- */
/* Home */
.banner-text {
    text-shadow: 0 0 50px black;
}
.smallline {
    margin: 0 30vw;
}
.gridphoto {
    object-fit: cover;
    width: 100%;
}

.blogphoto {
    object-fit: cover;
    width: 100%;
    height: 35vw;
}

.photo-padding-inside {
    padding-right: 16px;
}

.aboutphoto {
    object-fit: cover;
    width: 67%;
    margin: 4% 0px 0px 3%;
}
.aboutphotosingle {
    object-fit: cover;
    width: 33%;
}

.post-photo {
    object-fit: cover;
    width: 100%;
    max-height: 80vh;
}
.post-2photo {
    object-fit: cover;
    width: 100%;
    height: 80vh;
}

@media (max-width: 600px) {
    .aboutphotosingle {
        width: 67%;
    }
    .photo-padding-inside {
        padding-right: 0;
        padding-bottom: 16px;
    }
}

.gridtext {
    width: calc(100% - 1em);
}
/* ------------------------------------------------------------------------- */
/* Article */

.tooltip {
    position: relative;
    transition: 1s ease;
}
.tooltip .tooltip-secret {
    display: none;
}
.tooltip:hover .tooltip-secret {
    display: inline-block;
}

article {
    margin: 64px auto;
}

article p,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article li,
article hr {    
    max-width: 620px;
    margin: 0 auto;
}

article img {
    display:block;
}

article p,
article h2 {
    margin: 32px auto;
}
article p {
    text-align: justify;
    text-justify: inter-word;
}

/* article h2 { */
    /* padding: 16px 0; */
/* } */

article a:hover {
    color:#87CEEB;
}

article hr {
    margin-top: 16px;
    margin-bottom: 16px;
}

.narrow {
    max-width: 840px;
    margin: 0 auto;
}

.xnarrow {
    max-width: 600px;
    margin: 0 auto;
}
.parallax {
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about h1 {
    text-transform: uppercase;
}
.about h2 {
    color: #aa5864;
}

.pastel-pink {
    color: #aa5864;
}

.bg-pastel-blossom {
    background-color: #e4b4b6;
}
.bg-pastel-skin {
    background-color: #efd9cd;
}
.bg-pastel-poussin {
    background-color: #f6dfa4;
}
.bg-pastel-nipple {
    background-color: #cc8278;
}
.aboutcontent p {
    text-align: justify;
}

.capitalize {
    text-transform: capitalize;
}