&copy; {{ .Site.LastChange.Format "2006" }} 
<span class="w3-hover-text-light-blue" style="cursor:pointer" onclick="document.getElementById('dancingpotatoe').style.display='block'">{{ .Site.Params.developer }}</span> 
&amp; {{ .Site.Params.author }}
<div id="dancingpotatoe" class="w3-modal w3-center w3-animate-opacity" onclick="this.style.display='none'">
<img class="w3-modal-content w3-card-4" src="http://78.media.tumblr.com/tumblr_m7l7n6gWuD1qg6rkio1_r1_500.gif" class="w3-hover-text-light-blue" style="height:auto;width:80vw;">
</div>
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>