<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:light,bold,300,400,600,700|Sacramento|Josefin+Sans:light,bold,300,400,600,700|Alice|Coming Soon">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/home.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicon.png" sizes="512x512">

    <title>{{ .Title }}</title>
</head>